<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ido.iptv.dao.UserMapper">

    <sql id="Base_Column_List">
     id, username, password,create_time,update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.ido.iptv.entity.po.User">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByUsername" resultType="com.ido.iptv.entity.po.User">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where username = #{username}
    </select>

    <select id="getRoles" resultType="java.lang.String">
      select
        role
      from t_user tu join t_user_role tur  on tu.id = tur.user_id
      join t_role tr on tur.role_id = tr.id
      where user_id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insertSelective" parameterType="com.ido.iptv.entity.po.User">
        insert ignore into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.ido.iptv.entity.po.User">
        update t_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>